#complete{
    display: flex;
} 
#Tex{
   padding-bottom:2rem; 
   padding-top: 0.2rem;
  font-size: 3.1rem;
   font-weight: 600;
   position:relative;
   color:rgb(51, 149, 210);
}
#Tex1{
   font-size: 1.3rem;
   font-weight: 500;
   padding-top: 0.3rem;
  padding-bottom:5rem; 
}
/* #button{
   display:inline-block;
   text-align:center;
   padding:1rem;
   text-decoration: none;

} */
#image{
   display:flex;
   flex-direction: row;
   align-items: center;
   /* margin-top:-10rem; */
   /* margin-left: 250px; */
}
/* .inner{
     border:2px solid black;
     width:190px;
} */
#Left{
   display:flex;
   flex-direction: row;
   position: relative;
   padding:2rem; 
   margin:2rem; 
}
#gallery{
   padding:2rem;
   margin-left:1rem;
   border:solid 0.08rem;
  transition: 1s;
   
}
#gallery:hover{
   border:0.1rem solid black;
   transform:scale(1.3);
   z-index:2;
}
#img1{
   font-style: bold italic;
   color:black;
   font-size: 1rem;

   /* margin-left: 100px; */
   
}
#img2{
   font-style: bold italic;
   color:black;
   font-size: 1rem;
   /* margin-left: 150px; */
}

#img3{
   font-style: bold italic;
   color:black;
   font-size: 1rem;
   
   /* margin-left: 100px; */
}
/* #img4{
   margin-left: 600px;
   font-style: bold italic;
   color:black;
   font-size: 25px;
}
#img5{
    margin-left:65px;
    font-style:bold italic;
   color:black;
   font-size: 25px;
} */
/* #lower{
   display:flex;
   flex-direction: row;
} */

body{
   background-color: aliceblue;
   font-family: 'Inter Tight', sans-serif;
}