/* * {
    margin: 2%;
    padding: 0;
} */

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.class_flex {
    display: flex;
    justify-content: space-evenly;
}

.card img {
    border-radius: 3%;
    align-items: center;
}

.show {
    display: flex;
    justify-content: center;
}

img:hover {
    background-color: black;
}

h1 {
    color: rgb(10, 81, 38);
}

hr {
    color: rgb(14, 121, 57);
}